<?php
/*
This file is re-saved with var_export, which will make a huge mess of 
formatting. Sorry!

The base key is the config filename. Its value MUST be an array containing
two keys: "active" and "versions". "active" must be an integer, this is
the version that will be used by EncryptedConfig::load(). "versions" must be
an array of arrays containing two keys: "author" and "update". The indices
of the "versions" array correspond to the active file.
*/

return array(
	'database' => array(
		'active' => 2,
		'versions' => array(
			1 => array(
				'author' => 'Eric Stern',
				'update' => '2012-02-03T16:33:43-08:00',
			),
			2 => array(
				'author' => 'Eric Stern',
				'update' => '2012-02-03T16:46:48-08:00',
			),
		),
	),
	'cache' => array(
		'active' => 2,
		'versions' => array(
			1 => array(
				'author' => 'Eric Stern',
				'update' => '2012-02-03T17:26:14-08:00',
			),
			2 => array(
				'author' => 'Aleksey Sanin',
				'update' => '2012-02-03T17:26:30-08:00',
			),
		),
	),
);
